source ~/.vimrc

" Navigator: C-h/j/k/l move between splits (incl. terminal when moved to editor)
sethandler <c-h> a:vim
sethandler <c-l> a:vim
sethandler <c-j> a:vim
sethandler <c-k> a:vim
nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k

nnoremap <Leader>ra :action GotoAction<CR>
nnoremap <Leader>t :action ActivateTerminalToolWindow<CR>

nnoremap <Leader>ff :action GotoFile<CR>
nnoremap <Leader>fr :action RecentFiles<CR>
nnoremap <Leader>fc :action GotoClass<CR>

nnoremap <Leader>or :action RecentProjectListGroup<CR>
nnoremap <Leader>pc :action CloseProject<CR>
nnoremap <Leader><Leader>l :action NextProjectWindow<CR>
nnoremap <Leader><Leader>h :action PreviousProjectWindow<CR>
nnoremap <Leader>i :action ShowIntentionActions<CR>
nnoremap <Leader>oi :action OptimizeImports<CR>
nnoremap <Leader>cf :action ReformatCode<CR>

nnoremap <Leader>u :action ShowUsages<CR>
nnoremap <Leader>rr :action RenameElement<CR>
vnoremap <Leader>rm :action ExtractMethod<CR>
vnoremap <Leader>rv :action ExtractVariable<CR>
nnoremap gi :action GotoImplementation<CR>

nnoremap <Leader>ga :action Annotate<CR>
nnoremap <Leader>gb :action Git.Branches<CR>
nnoremap <Leader>bn :action Git.CreateNewBranch<CR>
nnoremap <Leader>bm :action Macro.checkout master<CR>
nnoremap <Leader>gp :action Vcs.Push<CR>
nnoremap <Leader>gf :action Vcs.UpdateProject<CR>
nnoremap <Leader>gc :action ActivateCommitToolWindow<CR>
nnoremap <Leader>gr :action ChangesView.Revert<CR>
