"*":
  "autocomplete-haskell": {}
  "autocomplete-plus":
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
    defaultProvider: "Fuzzy"
    minimumWordLength: 2
  core:
    allowPendingPaneItems: false
    autoHideMenuBar: true
    disabledPackages: [
      "linter"
    ]
    telemetryConsent: "no"
    useCustomTitleBar: true
  editor: {}
  "exception-reporting":
    userId: "17d7bde7-fcd1-274f-0f05-69067a4fc6a2"
  "haskell-ghc-mod":
    onMouseHoverShow: ""
    onSelectionShow: "typeAndInfo"
  "ide-haskell":
    cabalPath: "~/.local/bin/cabal"
    stylishHaskellPath: "~/.local/bin/stylish-haskell"
  "ide-haskell-cabal":
    stack: {}
  "project-manager":
    includeGitRepositories: true
    savePathsRelativeToHome: true
  "tree-view":
    autoReveal: true
    hideVcsIgnoredFiles: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
