[
  {
    title: "Iteratee"
    group: "scala"
    paths: [
      "~/ScalaProjects/iteratee"
    ]
  }
  {
    title: "cats"
    group: "scala"
    paths: [
      "~/ScalaProjects/cats"
    ]
  }
  {
    title: "Finch"
    group: "scala"
    paths: [
      "~/ScalaProjects/finch"
    ]
  }
  {
    title: "Fetch"
    group: "scala"
    paths: [
      "~/ScalaProjects/fetch"
    ]
  }
  {
    title: "Circe"
    group: "scala"
    paths: [
      "~/ScalaProjects/circe"
    ]
  }
  {
    title: "Finch Todo Backend"
    group: "scala"
    paths: [
      "~/ScalaProjects/finch-todo-backend"
    ]
  }
]
